.header {
	display: flex;
	width: 100%;
	height: 50px;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	background-color: rgb(250, 247, 247);
	z-index: 10;
}

.HederSide {
	display: flex;
	flex-direction: row;
	width: 40%;
	height: 100%;
	align-items: center;
	justify-content: space-around;
	padding-right: 20px;
}

.Logo {
	height: 40px;
	width: 100px;
	object-fit: cover;
	font-size: 10px;
	background-color: lightgray;
	margin-left: 20px;
	outline: none;
}
